<ul class="nav nav-tabs accomplishment-tab">
  {{#each days as |day|}}
    <li><a data-toggle="tab" href="#accomplishment-{{@key}}">{{@key}}</a></li>
  {{/each}}
</ul>

<div class="tab-content">
  {{#each days as |day|}}
    <div id="accomplishment-{{@key}}" class="tab-pane fade accomplishment-view">
      {{#each day as |accomplishment|}}
        <div class="row">
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <span class="{{accomplishment.color}}">&#9733;</span>
            <span>{{accomplishment.name}}:</span>
            <span>{{accomplishment.description}}</span>
          </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <button data-id= {{accomplishment.id}} type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".update-accomplishment-modal-lg-{{accomplishment.id}}">Update</button>
            <button data-id= {{accomplishment.id}} type="button" class="accomplishment-delete-button btn btn-primary btn-sm" data-toggle="modal" data-target=".delete-accomplishment-modal-{{accomplishment.id}}">Delete</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>

{{#each days as |day|}}
  {{#each day as |accomplishment|}}
    <!-- delete accomplishment modal -->
    <div id="delete-accomplishment-{{accomplishment.id}}" class="accomplishment-modal-handlebars accomplishment-modal delete-accomplishment modal delete-accomplishment-modal-{{accomplishment.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteAccomplishment" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">&#9734; Are you sure you want to Delete?! &#9734;</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form data-id= {{accomplishment.id}} class="delete-accomplishment-form">
            <div class="modal-body">
              <!-- delete button -->
              <button data-id= {{accomplishment.id}} type="submit" class="btn btn-primary">Yes, delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
{{/each}}

{{#each days as |day|}}
  {{#each day as |accomplishment|}}
    <!-- update accomplishment modal -->
    <div id="update-accomplishment-{{accomplishment.id}}" class="accomplishment-modal-handlebars update-accomplishment modal update-accomplishment-modal-lg-{{accomplishment.id}}" tabindex="-1" role="dialog" aria-labelledby="updateAccomplishment" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">&#9734; Update Your Accomplishment! &#9734;</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <!-- update accomplishment form -->
            <form id="update-accomplishment-form-{{accomplishment.id}}" class="update-accomplishment-form" data-id= {{accomplishment.id}}>
              <div class="form-group">
                <label for="nameInput2">Accomplishment Name</label>
                <input name="accomplishment[name]" type="text" class="form-control" placeholder="{{accomplishment.name}}">
              </div>
              <div class="form-group">
                <label for="descriptionTextarea2">Decription</label>
                <textarea name="accomplishment[description]" class="form-control" placeholder="{{accomplishment.description}}" rows="2"></textarea>
              </div>
              <div class="form-group">
                <label for="dateInput2">Date Accomplished - Is {{accomplishment.date_accomplished}} still correct?</label>
                <input name="accomplishment[date_accomplished]" type="date" class="form-control" >
              </div>
              <div class="form-group">
                <label for="colorSelect2">Star Color is {{accomplishment.color}}, do you want to change that?</label>
                <select name="accomplishment[color]" class="form-control">
                      <option>Red</option>
                      <option>Blue</option>
                      <option>Green</option>
                      <option>Yellow</option>
                      <option>Purple</option>
                    </select>
              </div>
              <button data-id= {{accomplishment.id}} type="submit" class="update-accomplishment btn btn-primary">Update Accomplishment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{/each}}
